# OS, editor specific stuff
.vscode
*.swp
.DS_Store

# Caches
.cache
.pytest_cache
.mypy_cache

# Build artifcats
dist
*.pyc
*.egg-info
.coverage
.scannerwork

# Meant to be provided by users
provision.sh

# Misc
/*.json
frontend/src/assets
sample-data/*
