export DEBUG=1

export DB_URL="postgres://postgres:password@localhost/finance_dev"
export TEST_DB_URL="postgres://postgres:password@localhost/finance_test"
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_DEFAULT_REGION="us-west-2"

export GSPREAD_KEY_FILE_PATH="keyfile.json"
export GSPREAD_DOC_KEY=""

export SQS_REGION="us-west-2"
export REQUEST_IMPORT_STOCK_VALUES_QUEUE_URL=""
