Flask>=0.10.1
Flask-Admin>=1.4.0
Flask-Login>=0.3.2
Flask-SQLAlchemy>=2.2
Flask-Cors>=3.0.2
Jinja2>=2.8
Logbook>=0.12.5
MarkupSafe>=0.23
SQLAlchemy>=1.0.12
click>=6.3
psycopg2>=2.6.1
temporaluuid64>=0.1.1
requests>=2.9.1
xmltodict>=0.10.1
beautifulsoup4>=4.4.1
typedecorator>=0.0.4
