<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    path.line {
        fill: none;
        stroke: #000000;
        stroke-width: 1;
    }

</style>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://techanjs.org/techan.min.js"></script>
<script>

    var margin = {top: 20, right: 20, bottom: 30, left: 80},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

    var parseDate = d3.time.format("%Y%m%d").parse;

    var x = techan.scale.financetime()
            .range([0, width])
            .outerPadding(0);

    var y = d3.scale.linear()
            .range([height, 0]);

    var close = techan.plot.close()
            .xScale(x)
            .yScale(y);

    var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

    var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");

    var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    $.get('/data', {start: '{{ start }}', end: '{{ end }}'}, function(response) {
        var accessor = close.accessor();
        var data = response.data;
        data = data.map(function(d) {
          return {
            date: parseDate(d[0]),
            open: d[1],
            high: d[2],
            low: d[3],
            close: d[4],
            volume: d[5]
          };
        });

/*
        data = data.sort(function(a, b) {
          return d3.ascending(accessor.d(a), accessor.d(b));
        });
*/

        console.log(data);

        x.domain(data.map(accessor.d));
        y.domain(techan.scale.plot.ohlc(data, accessor).domain());

        svg.append("g")
                .datum(data)
                .attr("class", "close")
                .call(close);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        svg.append("g")
                .attr("class", "y axis")
                .call(yAxis)
                .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Price ($)");
    });

</script>
</body>
</html>
