{% extends 'layout.html' %}
{% block content %}

  <h2>Account-{{ entity.id }}</h2>

  <div>Name: {{ entity.name }}</div>
  <div>Description: {{ entity.description }}</div>
  <div>Net worth:
    {{ entity.net_worth(approximation=True, base_asset=entity.portfolio.base_asset) }}
  </div>

  <ul>
    {% for asset, balance in entity.balance().items() %}
    <li>{{ asset }}: {{ balance }}</li>
    {% endfor %}
  </ul>

  <h3>Records</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Date/time</th>
        <th>Transaction</th>
        <th>Category</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for record in entity.records %}
      <tr>
        <td>{{ record.created_at }}</td>
        <td>{{ record.transaction_id }}</td>
        <td>{{ record.category }}</td>
        <td>{{ record.quantity }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
